extends ../partials/layout.jade

block title
  title Курсы | Свадебное агентство Саши Дергусовой

block page
  header.page__header
    a(href="/")
      h1.logotype Свадебное агентство Саши Дергусовой
      
    ul.page__navigation
      span.page__navigation-dropdown
        a.page__navigation-link(href="team.html") О школе
        .page__navigation-submenu
          ul.page__navigation-submenu-wrapper
            li
              a.page__navigation-link.page__navigation-link_current(href="company.html") Курсы
            li
              a.page__navigation-link(href="#") Календарь обучения
            li
              a.page__navigation-link(href="#") Выпускники
      a.page__navigation-link(href="about.html") Об агентстве
      a.page__navigation-link(href="#") Новости
      a.page__navigation-link(href="vacancy.html") Как попасть в команду
      a.page__navigation-link.page__navigation-link_contacts(href="#") Контакты

  section.window.window_about
    .window__overlay
    .window__wrapper
      h2.window__title Свадебная школа – это авторский проект Саши Дергоусовой, основателя ведущего свадебного агентства Украины
      p.window__text Создан специально для тех, кто любит свадьбы всей душой и хочет научиться их организовывать. Для тех, кто готов работать больше, чем другие, производя на свет настоящие шедевры. Для тех, кто видит в свадьбах больше, чем просто праздник. Для тех, кто ценит команду и хочет профессионально расти, наполняя мир вокруг красотой, эмоциональностью и неповторимым стилем

  section.text
    p Мы приглашаем настоящих ценителей красоты и творчества агентства, которые знают, что свадьба – это не просто набор стандартных действий, в результате которых рождается праздник, а кропотливый труд над уникальным продуктом. Тех, кто знает, что это непростая и по-настоящему командная работа, результатом которой должно стать грандиозное событие.
    
    h2 Мы предлагаем курсы интересные как с информативной, так и с практической точки зрения
  
  
  ul.course.course_types
    
    li.course__item.course__item_newbie
      h2.course__title Для Новичков
      p.course__abstract Для тех кого есть желание найти работу для души, сменить сферу деятельности или же просто больше узнать об особенностях профессии. 
      a.read.read_dark(href="#") Детальнее
    
    li.course__item.course__item_master
      h2.course__title Работающих свадебных распорядителей
      p.course__abstract тех, кто занимается организацией свадеб и хочет поднять свою планку, получить новые знания и навыки.  Для тех, кто столкнулся уже со многими ошибками на практике и хочет избежать их в будущем
      a.read.read_dark(href="#") Детальнее
      
    li.course__item.course__item_owner
      h2.course__title Владельцев агентств
      p.course__abstract тех, кому уже есть о чем рассказать, чем поделиться, но все же стремление к постоянному развитию и росту требует свежих идей и качественных изменений в своей компании
      a.read.read_dark(href="#") Детальнее
    
    li.course__item.course__item_service
      h2.course__title Поставщиков свадебных услуг
      p.course__abstract тех, кто сотрудничает со свадебными агентствами и клиентами напрямую, и хочет поднять уровень своего профессионализма.
      a.read.read_dark(href="#") Детальнее

    li.course__item.course__item_bride
      h2.course__title Невест
      p.course__abstract тех, кто планирует свою свадьбу делать самостоятельно и хочет избежать множества ошибок, которые ожидают их на пути из-за отсутствия опыта.
      a.read.read_dark(href="#") Детальнее
