extends ../partials/layout.jade

block page

  header.page__header

    a(href="/")
      h1.logotype Свадебное агентство Саши Дергусовой

    ul.page__navigation
      span.page__navigation-dropdown
        a.page__navigation-link(href="team.html") О школе
        .page__navigation-submenu
          ul.page__navigation-submenu-wrapper
            li
              a.page__navigation-link(href="company.html") Курсы
            li
              a.page__navigation-link(href="#") Календарь обучения
            li
              a.page__navigation-link(href="#") Выпускники
      a.page__navigation-link(href="about.html") Об агентстве
      a.page__navigation-link(href="#") Новости
      a.page__navigation-link(href="vacancy.html") Как попасть в команду
      a.page__navigation-link.page__navigation-link_contacts(href="#") Контакты

  section.window
    .window__overlay
    .window__wrapper
      h2.window__title Добро пожаловать в Свадебную школу Саши Дергоусовой
      p.window__text Наша основная цель – вдохновить людей на создание невероятного праздника. Мы обучаем, как сделать свадьбу не только стильной, красивой, но и запоминающейся своей эмоциональностью и душевностью. Практикующий свадебный распорядитель,  владелец бизнеса, поставщик свадебных услуг, новичок, мечтающий стать профессионалом и даже невеста, которая хочет сделать свадьбу самостоятельно, - каждый найдет у нас подходящий курс
      a.read(href="#") Детальнее

  section.news
    h2.section-title.section-title_news: span  Новости
    
    article.news__item
      img.news__illustration(src="images/illustration-1.jpg", alt="Иллюстрация к новости")
      .news__details
        h3.news__title Заголовок очень важной новости в два ряда
        p.news__lead Наша основная цель – вдохновить людей на создание невероятного праздника. Мы обучаем, как сделать свадьбу не только стильной
        a.read(href="#") Детальнее
    
    article.news__item
      img.news__illustration(src="images/illustration-2.jpg", alt="Иллюстрация к новости")
      .news__details
        h3.news__title Заголовок очень важной новости
        p.news__lead Наша основная цель – вдохновить людей на создание невероятного праздника. Мы обучаем, как сделать свадьбу не только стильной
        a.read(href="#") Детальнее
