extends ../partials/layout.jade

block title
  title Курсы | Свадебное агентство Саши Дергусовой

block page
  header.page__header

    a(href="/")
      h1.logotype Свадебное агентство Саши Дергусовой

    ul.page__navigation
      span.page__navigation-dropdown
        a.page__navigation-link(href="team.html") О школе
        .page__navigation-submenu
          ul.page__navigation-submenu-wrapper
            li
              a.page__navigation-link.page__navigation-link_current(href="company.html") Курсы
            li
              a.page__navigation-link(href="#") Календарь обучения
            li
              a.page__navigation-link(href="#") Выпускники
      a.page__navigation-link(href="about.html") Об агентстве
      a.page__navigation-link(href="#") Новости
      a.page__navigation-link(href="vacancy.html") Как попасть в команду
      a.page__navigation-link.page__navigation-link_contacts(href="#") Контакты

  section.window.window_about
    .window__overlay
    .window__wrapper
      h2.window__title Вы получите информацию из первых уст: от самой Саши, профессионалов команды, партнеров агентства и специальных гостей
      p.window__text.window__text_empty


  ul.course.course_types

    li.course__item.course__item_newbie
      h2.course__title Базовый курс «Профессия свадебного распорядителя»
      p.course__abstract Этот курс дает глубинное понимание профессии и ясное представление всем его участникам о том, как сделать свадьбу настоящим шедевром.
      a.read.read_dark(href="#") Детальнее

    li.course__item.course__item_video
      h2.course__title Режиссура свадебного дня
      p.course__abstract Свадьба – это необычный праздник, наполненный особым смыслом благодаря индивидуальности людей: гостей и главных ее участников.
      a.read.read_dark(href="#") Детальнее


    li.course__item.course__item_idea
      h2.course__title Где черпать идеи для вдохновения: секреты Свадебного агентства Саши Дергоусовой
      p.course__abstract Если свадьбы у вас вызывают восторг, а работы «Свадебного агентства Саши Дергоусовой» - восхищение, если вы, с нетерпением, ждете каждый видео-ролик и подборку фотографий на страницах агентства, чтобы подробнее рассмотреть все детали, если ваша мечта – делать не просто красивые, но и по-настоящему эмоциональные праздники, вам непременно будет интересен данный курс.
      a.read.read_dark(href="#") Детальнее

    li.course__item.course__item_service
      h2.course__title Эффективные инструменты продвижения услуг на свадебном рынке Украины
      p.course__abstract Если вы хотите научиться эффективно продавать и преподносить свои услуги, чтобы быть успешным и востребованным – этот курс специально для вас.
      a.read.read_dark(href="#") Детальнее

    li.course__item.course__item_bride
      h2.course__title Как создать стильную свадьбу: искусство оформления в деталях
      p.course__abstract В рамках этого курса преподаватели – команда «Свадебного агентства Саши Дергоусовой», организаторы, декораторы и флористы – рассказывают о главных акцентах в оформлении свадьбы, нюансах и моментах, которым важно уделять особое внимание.
      a.read.read_dark(href="#") Детальнее

    li.course__item.course__item_owner
      h2.course__title Как создать успешное свадебное агентство
      p.course__abstract Курс создан специально для тех, кто планирует открыть свое агентство или уже управляет таковым, но хочет выйти на принципиально новый уровень.
      a.read.read_dark(href="#") Детальнее
