<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    
    title О школе | Свадебное агентство Саши Дергусовой
    
    link(rel="stylesheet", href="css/styles.css")

    script(src="js/modernizr/modernizr.js")    
    script(src="js/jquery/dist/jquery.min.js")
    script(src="js/jquery.scrollTo/jquery.scrollTo.min.js")
    script(src="js/jquery-placeholder/jquery.placeholder.min.js")
    script(src="js/jquery.inputmask/dist/jquery.inputmask.bundle.min.js")
    
    script(src="js/scripts.js", defer, async)
    
  body
    header
      form.subscribe(action="/subscribe/", method="post")
        fieldset
          label(for="header_subscribe_email") Подписаться на рассылку
          input#header_subscribe_email(type="email", name="email", placeholder="ВАШ EMAIL", value="", required="required")
          button(type="submit") Подписаться
      a.register-link(href="#register-form") Зарегистрироваться на курс
      address.phones
        a.phones__number(href="tel:+380672901863") +38 (067) 290 18 63
        a.phones__number(href="tel:+380442279187") +38 (044) 227 91 87 
    
    section.page
    
      header.page__header
      
        a(href="/")
          h1.logotype Свадебное агентство Саши Дергусовой
          
        ul.page__navigation
          span.page__navigation-dropdown
            a.page__navigation-link.page__navigation-link_current(href="team.html") О школе
            .page__navigation-submenu
              ul.page__navigation-submenu-wrapper
                li
                  a.page__navigation-link(href="company.html") Курсы
                li
                  a.page__navigation-link(href="#") Календарь обучения
                li
                  a.page__navigation-link(href="#") Выпускники
          a.page__navigation-link(href="about.html") Об агентстве
          a.page__navigation-link(href="#") Новости
          a.page__navigation-link(href="vacancy.html") Как попасть в команду
          a.page__navigation-link.page__navigation-link_contacts(href="#") Контакты
    
      section.window.window_about
        .window__overlay
        .window__wrapper
          h2.window__title это команда людей, которые уже более 8 лет помогают воплощать в жизнь мечты
          p.window__text Мы делаем свою работу с огромной любовью и самоотдачей. Поэтому глубоко убеждены, что приятной и запоминающейся должна быть не только сама свадьба, а и вся подготовка к ней.
    
      section.text.text_about
        p На нашем счету более 150 свадеб, организованных не только в различных городах Украины, но и во Франции, Италии, Англии, Турции, России, Грузии, Индии, Шри-Ланке и на Канарских островах.

        p Сюжеты о том как мы это делали и что у нас получилось, легли в основу серии передач «PRO Весілля» на телеканале К1. О работе агентства также рассказывали: 1+1, Интер, СТБ, НТВ, М1, К2, О-TV и другие.
        
      section.person
        .person__outer-wrapper
          .person__inner-wrapper
            .person__details
              img.person__photo(src="images/alex.jpg", alt="Фотография Саши Дергоусовой")
              .person__abstract
                h2.person__name Саша Дергоусова
                p.person__brief Основатель “Свадебного агентства Саши Дергоусовой”. Двигатель и душа компании. Настоящий профессионал своего дела с яркой харизмой и тонким чувством стиля. Организация свадеб – скорее ее призвание, чем работа, потому что делает она это очень легко, органично и от сердца. За восемь лет Саша смогла собрать возле себя сильную команду не менее преданных делу людей – душевных и искренних, высококвалифицированных специалистов, которые ценят каждую пару, каждую созданную семью и каждую свадьбу, к которой они имеют честь быть причастными.
      
      section.team
        
        .team__abstract
          p.team__about Команда Свадебного агентства Саши Дергоусовой - это трепетно подобранный крепкий коллектив, объединенный ценностями, профессионализмом и общей целью: «Мы помогаем воплотить в жизнь мечты людей, которые приходят к нам. И делаем свою работу с огромной любовью, нежностью и самоотдачей.»
          
          a.team__agency(href="#", target="_blank") Сайт агентства
        
        img.team__photo(src="images/team.jpg", alt="Фотография команды свадебного агентства Саши Дергусовой")
          
      section.register#register-form
        h2.section-title.section-title_register: span Записаться на следующий курс
        form.register__form(action="/register/", method="post")
          fieldset
            input.register__name(type="text", name="name", value="", placeholder="ВАШЕ ИМЯ", required="required")
          fieldset
            input.register__tel(type="tel", data-inputmask="'mask': '+38 (999) 999-99-99'", name="tel", value="", placeholder="ВАШ ТЕЛЕФОН", required="required")
            input.register__email(type="email", name="email", value="", placeholder="ВАШ EMAIL", required="required")
          fieldset
            textarea.register__message(name="message", cols="30", rows="10", placeholder="СООБЩЕНИЕ", required="required")
          fieldset
            button.register__submit(type="submit") Отправить
        
    footer
      p.copyright © 2015 Свадебное агентство саши дергоусовой
      form.subscribe(action="/subscribe/", method="post")
        fieldset
          label(for="footer_subscribe_email") Подписаться на рассылку
          input#footer_subscribe_email(type="email", name="email", placeholder="ВАШ EMAIL", value="", required="required")
          button(type="submit") Подписаться
      a.developed-by(href="http://territory.com.ua/", target="_blank") CBT
    
