extends ../partials/layout.jade

block title
  title Как попасть в команду | Свадебное агентство Саши Дергусовой

block page
  header.page__header

    a(href="/")
      h1.logotype Свадебное агентство Саши Дергусовой

    ul.page__navigation
      span.page__navigation-dropdown
        a.page__navigation-link(href="team.html") О школе
        .page__navigation-submenu
          ul.page__navigation-submenu-wrapper
            li
              a.page__navigation-link(href="company.html") Курсы
            li
              a.page__navigation-link(href="#") Календарь обучения
            li
              a.page__navigation-link(href="#") Выпускники
      a.page__navigation-link(href="about.html") Об агентстве
      a.page__navigation-link(href="#") Новости
      a.page__navigation-link.page__navigation-link_current(href="vacancy.html") Как попасть в команду
      a.page__navigation-link.page__navigation-link_contacts(href="#") Контакты

  section.window.window_about
    .window__overlay
    .window__wrapper
      h2.window__title Как попасть в команду
      p.window__text Нас часто спрашивают, как можно стать частью нашей дружной команды. У нас все как у молодоженов – исключительно по любви.

  section.text
    p Бывает, что проскочит искра, с которой начинается волшебство, но гораздо больше шансов попасть в нашу семью у тех, с кем получается строить отношения поэтапно. Мы знакомимся со всеми  необыкновенными людьми в школе, бережно устанавливаем связь и только самых близких по духу приглашаем присоединиться к нам.

  section.mailus.mailus_work
    .mailus__outer-wrapper
      .mailus__inner-wrapper
        .mailus__details
          h2.mailus__title Если вы хотите стать членом команды присылайте нам свои резюме на e-mail ответив на несколько вопросов:
          ul
            li Ваш опыт работы на свадьбе?
            li Почему вы хотите работать в Свадебном агентстве Саши Дергоусовой?
            li Что бы самое важное вы хотели рассказать о себе?
          a.mailus__send(href="#register-form") Напишите нам

  section.mailus.mailus_training
    .mailus__outer-wrapper
      .mailus__inner-wrapper
        .mailus__details
          h2.mailus__title Люди, которые вдохновят нас больше всего, могут получить шанс пройти у нас  стажировку. Если вы готовы попытать удачу, присылайте письма с ответами на вопросы
          ul
            li Почему вы хотите пройти стажировку в свадебном агентстве?
            li Почему вы хотите стажироваться именно в Свадебном агентстве Саши Дергоусовой?
            li Что вы умеете делать и чем можете быть полезны в период стажировки?
            li Какой период стажировки считаете возможным?
          a.mailus__send(href="#register-form") Напишите нам
