@import "../helpers/helpers";

.section-title{
  text-align: center;
  line-height: 24px;
  height: 24px;
  margin: 35px 0;
  box-shadow: inset 0 12px 0 0 $white,
              inset 0 13px 0 0 $light-grey;

  &_news.section-title span:before{
    background-image: url('../svg/note.svg');
    background-size: auto 14px;
    }

  &_register.section-title span:before{
    background-color: transparent;
    background-image: url('../svg/add.svg');
    }

  span{
    width: 400px;
    margin: 0 auto;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: $brown;
    text-transform: uppercase;
    background-color: $white;
    &:before{
      content: ".";
      display: inline-block;
      margin: 0 15px 0 0;
      overflow: hidden;
      text-indent: -9999px;
      font-size: 0;
      line-height: 0;
      height: 24px;
      width: 24px;
      border-radius: 100%;
      vertical-align: middle;
      background-color: $gold-bg;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
      }
    }
  }


@media screen and (max-width: 1240px) {
  html body .section-title{
    margin: 35px 20px;
    }
  }

@media screen and (max-width: 600px) {
  html body .section-title{
    margin: 20px 15px;
    box-shadow: none;
    span{
      width: auto;
      }
    }
  }
