@import "../helpers/helpers";

.text{
  max-width: 600px;
  padding: 0 20px;
  margin: 40px auto 70px;
  font-size: 12px;
  line-height: 16px;
  color: $brown;
  h1,h2,h3,h4,h5{
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    margin: 40px 0 16px;
    text-transform: uppercase;
    }
  a{
    color: $brown;
    }
  p{
    font-size: 12px;
    line-height: 16px;
    }
  li{
    position: relative;
    margin: 16px 0;
    &:before{
      content:".";
      font-size: 0;
      line-height: 0;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: $gold;
      position: absolute;
      top: 2px;
      left: -40px;
      }
    }
  }


@media screen and (max-width: 700px) {
  html>body .text{
    li{
      margin-left: 40px;
      }
    }
  }

@media screen and (max-width: 500px) {
  html>body .text{
    li{
      margin-left: 25px;
      &:before{
        left: -25px;
        }
      }
    }
  }
