/* background colors */

$brown-bg: #372e2c;
$gold-bg: #e3deba;
$transparent-white: rgba(#ffffff, .3);
$transparent-brown: rgba(#372e2c, .3);

/* text colors */

$gold: #f7f2ca;
$white: #ffffff;
$brown: #372e2c;
$light-grey: #c3c0bf;
