@import "../helpers/helpers";

.read{
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 0 0 35px;
  background: url("../svg/search.svg") 0 50% no-repeat;
  background-size: 20px auto;
  display: inline-block;
  &_dark{
    color: $brown;
    background-image: url('../svg/search-dark.svg');
    }
  }
