@import "../helpers/helpers";

.register{
  max-width: 1200px;
  margin: 0 auto;
  &__form{
    width: 600px;
    margin: 0 auto 40px;
    font-size: 0;
    button{
      @include clear_button;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      color: $brown;
      line-height: 30px;
      height: 30px;
      padding: 0 0 0 40px;
      background: url('../svg/send.svg') 0 50% no-repeat;
      background-size: 30px auto;
      }
    fieldset{
      margin: 0 0 24px;
      @include clearit;
      text-align: center;
      }
    input{
      @include input;
      width: 100%;
      color: $brown;
      &.register__tel{
        width: 295px;
        float: left;
        }
      &.register__email{
        width: 295px;
        float: right;
        }
      }
    textarea{
      color: $brown;
      @include textarea;
      width: 100%;
      }
    }
  }


@media screen and (max-width: 640px) {
  html>body .register{
    &__form{
      padding: 0 20px;
      width: auto;
      fieldset{
        margin: 0 0 12px;
        }
      input{
        &.register__tel{
          margin: 0 0 12px;
          }
        &.register__tel,
        &.register__email{
          float: none;
          width: 100%;
          }
        }
      }
    }
  }
