@import "../helpers/helpers";

.course{
  max-width: 880px;
  width: 100%;
  margin: 35px auto;
  color: $brown;
  font-size: 0;
  line-height: 0;
  text-align: center;
  &_types{
    max-width: 1060px;
    .course__title{
      max-width: initial;
      }
    .course__item{
      width: 33.333%;
      &:before{
        width: 150px;
        height: 150px;
        margin: 0 auto 30px;
        background-size: 150px 150px;
        }
      }
    }
  .read{
    margin: 30px 0 0;
    }
  &__abstract{
    font-size: 12px;
    line-height: 16px;
    max-width: 220px;
    margin: 0 auto;
    }
  &__title{
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto 16px;
    max-width: 220px;
    }
  &__item{
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    box-sizing: border-box;
    width: 25%;
    padding: 0 20px;
    margin: 0 auto 40px;
    &:before{
      content: ".";
      width: 100px;
      height: 100px;
      margin: 0 auto 20px;
      display: block;
      border-radius: 100%;
      overflow: hidden;
      font-size: 0;
      line-height: 0;
      text-indent: -9999px;
      background-color: $gold;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 100px 100px;
      }
    &_target:before{
      background-image: url('../svg/target.svg');
      }
    &_teacher:before{
      background-image: url('../svg/teacher.svg');
      background-position: 50% -2px;
      }
    &_duration:before{
      background-image: url('../svg/duration.svg');
      }
    &_price:before{
      background-image: url('../svg/price.svg');
      background-position: 50% -2px;
      }
    &_newbie:before{
      background-image: url('../svg/newbie.svg');
      }
    &_master:before{
      background-image: url('../svg/master.svg');
      }
    &_owner:before{
      background-image: url('../svg/owner.svg');
      }
    &_service:before{
      background-image: url('../svg/service.svg');
      }
    &_bride:before{
      background-image: url('../svg/bride.svg');
      }
    &_idea:before{
      background-image: url('../svg/idea.svg');
      }
    &_video:before{
      background-image: url('../svg/video.svg');
      }
    }
  }

@media screen and (max-width: 700px) {
  .course.course_types .course__item,
  .course .course__item{
    width: 50%;
    }
  }

@media screen and (max-width: 500px) {
  .course.course_types .course__item,
  .course .course__item{
    width: 100%;
    }
  }
